body {
	margin: 0;
	color: #444444;
}

/* Nav */

header nav {
	
	display: block;
	position: fixed;
	right: 0;
	background: white;
	border-top: 3px #990033 solid;
	border-bottom: 3px #990033 solid;
	min-width: 100%;

}

header nav ul {
	
	padding: 0;
	list-style: none;
	float: right;
	margin: 0;
	width: 100%;
}

header nav ul li {
	display: inline-block;
	float: left;
	padding: 20px;
	color: #990033;
	font-family: 'PT Serif', serif;

}

header nav ul li h3 {
	margin: 0;
}

header nav ul li a {
	
	text-decoration: none;
	color: #990033;
	font-family: 'PT Serif', serif;
	height: 24px;
	line-height: 24px;

}

.link {
	float: right;
}



/* Content */

.content {

	padding-top: 125px;
	padding-bottom: 125px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'PT Serif', serif;
	font-size: 20px;
}


.content img {
	max-width: 150px;
	border-radius: 7px;
	margin-bottom: 20px;
}

.content ul {
	list-style: none;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	max-width: 1000px;

}

.content li {
	text-decoration: none;
	display: inline-block;
	max-width: 175px;
	margin: 30px;

}

.content a {
	text-decoration: none;
	color: #990033;
	font-family: 'PT Serif', serif;

}


